################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenLocationLinkAddIn/bin/Debug
/OpenLocationLinkAddIn/obj/Debug
/.vs/OpenLocationLinkAddIn/v14
/OpenLocationLinkAddIn/bin
/OpenLocationLinkAddIn/obj
/.vs/OpenMeetingLinkAddIn/v14
/OpenLocationLinkAddInSetup/OpenLocationLinkAddInSetup/Express
